@import "reset.css";

/* =========================================================
   BASE STYLES 
========================================================= */

html { font-size: 62.5%; }

body { 
    background-color: #f3f3f3;
    color: #4B4F51;
    font-size: 1.8rem; /* 1rem = 10px */
    font-family: 'Red Hat Display', sans-serif;
}

/* =========================================================
   HEADINGS & FONTS
========================================================= */

h1, h2, h3, h4 { 
    color: #035755; 
    font-weight: 700; 
}

h1, h2 { margin-bottom: 3rem; }

h1 { font-size: 3.6rem;  }

h2 { font-size: 2.7rem; }

h3 { font-size: 2rem; }

h4 { 
    color: #fb4c47;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

h4 span { text-transform: uppercase; }

p { line-height: 2.2rem; }

/* =========================================================
   ACTIONS 
========================================================= */

.primary-action {
    color: #fb4c47;
    font-weight: 700;
    text-decoration: none;
}

.primary-action:hover { color: #c93d39; }

/* =========================================================
   FORMS 
========================================================= */

form .field { margin-bottom: 4rem; }

form label { 
    margin-bottom: 0.5rem;
    font-weight: 700;
    display: block; 
}

form input,
form select {
    border: 1px solid #E4E4E4;
    border-radius: 0.2rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    box-sizing: border-box;
    height: 5rem;
    padding-left: 1rem;
    width: 100%; 
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus {
    outline: none;
    border: 1px solid #15234A;
}

form input[type="submit"] {
    background-color: #fb4c47;
    border: 0;
    border-radius: 5.3rem;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    height: 5rem;
    outline: none;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #c93d39; 
    transition: all 0.5s;
}

/* =========================================================
   BODY 
========================================================= */

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.title { margin-top: 4rem; }

.welcome-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
}

.welcome-block p { line-height: 3rem; }

.welcome-block img { 
    margin-top: 2rem;
    width: 100%;
}

.form-block {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12rem;
}

.form-block form { width: 100%; }

.form-block img { display: none; }

.action-block {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

footer { 
    margin-bottom: 1rem;
    text-align: center; 
}

.post-block-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    border-radius: 5rem;
}

.post-block {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.post-block-container img {
    padding: 4rem;
    height: 20rem;
}



@media (min-width: 850px) {

    .form-block form { width: 45%; }

    .form-block img { 
        display: block;
        width: 45%; 
    }

    .container { width: 85rem; }
    
}
